# =============================
# ASP.NET Core
# =============================
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# =============================
# Visual Studio / VS Code
# =============================
.vscode/
.vs/
*.code-workspace

# =============================
# NuGet
# =============================
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

# =============================
# EF Migrations
# =============================
# Migrations/

# =============================
# Runtime / Publish
# =============================
*.dll
*.exe
*.db
*.pdb
*.mdb
*.log
*.swp

# =============================
# Docker
# =============================
docker-compose.override.yml
*.env

# =============================
# OS Files
# =============================
.DS_Store
Thumbs.db
*.bak
*.backup

# =============================
# Logs
# =============================
*.log
